.section-template {
	min-height: 10vh;
}

.template-row {
	display: grid;
	grid-template-columns: 2fr 8fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
  min-height: 60px;
}

.template-title {
	width: 100%;
	justify-self: start;
	font-size: 1.5em;
	margin: 0;
}

.content-template {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 1fr;
	align-items: start;
	justify-items: start;
	/* gap: 20px 0; */
  margin-bottom: 20px;
}

.template-line-container {
	display: flex;
	justify-content: center;
}

.template-line {
	width: 90%;
	height: 2px;
	background-color: #0093d3;
	border-radius: 150px;
	justify-self: center;
}
