.certifications {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  /* flex-wrap: wrap; */
  /* overflow: scroll; */
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1000px;
  width: 100%; */
}