body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
  font-family: 'Roboto', sans-serif;
}

body .generalContainer {
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(auto-fit, 100%);
	grid-template-areas:
		'header'
		'dp'
		'presentation'
		'experience'
		'philosophy'
		'education'
		'skills'
		'certificates';
	background-color: #fafafa;
}

@media (min-width: 1024px) {
	body {
		font-size: 20px;
	}

	body .generalContainer {
		grid-template-columns: repeat(auto-fit, minmax(320px, 50%));
		grid-template-rows: repeat(auto-fit, minmax(auto-fill, 1fr));

		grid-template-areas:
			'header experience'
			'dp experience'
			'presentation experience'
			'studies certificates'
			'skills philosophy'
			;

		.experience {
			grid-area: experience;
		}

		.skills {
			grid-area: skills;
		}

		.philosophy {
			grid-area: philosophy;
			grid-column: 1 / 2;
			grid-row: 6 / 7;
		}

		.certificates {
			grid-area: certificates;
			grid-row: 4 / 8;
			max-height: 65%;
			overflow: scroll;
		}

		.studies-container {
			grid-area: studies;
		}
	}
}

.header {
	grid-area: header;
}

.dp {
	grid-area: dp;
}

.presentation {
	grid-area: presentation;
}

.experience {
	grid-area: experience;
}

.studies-container {
	grid-area: studies;
}

.skills {
	grid-area: skills;
}

.certificates {
	grid-area: certificates;
}

.philosophy {
	grid-area: philosophy;
}

a {
	text-decoration: none;
	color: #0077b5;
}

.b {
	border: 1px solid black;
}

.b-red {
	border: 1px solid red;
}

.b-blue {
	border: 1px solid blue;
}

/* GRID */
.d-grid {
	display: grid;
}

/* FLEX */
.d-flex {
	display: flex;
}

.d-flex-column {
	display: flex;
	flex-direction: column;
}

.d-flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
}

.m-0 {
	margin: 0;
}

.mb-1 {
	margin-bottom: 1rem;
}